@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
.conatin{
  padding-bottom: 1rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
  /* or 108% */
  letter-spacing: 0.02em;
  color: #2F80EC;
}
#h1{
  font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 26px;
/* identical to box height, or 41% */

letter-spacing: 0.02em;
}

.conatina{
  padding-top: 1rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
  /* or 108% */

  letter-spacing: 0.02em;
  color: #2F80EC;
}
.rupee{
  color: #27AE61;
}
.App-logo{
  max-width: 30%;
}


