.Box {
  background-color: #2D396B;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: -0.5rem;
  padding: 1rem;
}
.text {
  flex-direction: column;
}
.img{
  border-radius: 10px;
}
.TitleCont{
  width: 60% !important;
}
.Hbid{
  color: #6AC6FF;
  font-weight: bold;
}
.purpleText{
  color: #A469FF;
  font-weight:bold;
}
.Ubid {
  font-weight: bold;
}
.EthIcon{

 color: #BE95FF ;
}
/* .underTitle{
  line-height: 0.9em;
} */

.Mob {
  margin-left : 1em !important;
}