/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap'); */
/* .conatin{
  padding-bottom: 1rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 26px; */
  /* or 108% */
  /* letter-spacing: 0.02em;
  color: #2F80EC;
} */
/* #h1{
  font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 26px; */
/* identical to box height, or 41% */

/* letter-spacing: 0.02em;
} */

/* .conatina{
  padding-top: 1rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
  /* or 108% */

  /* letter-spacing: 0.02em;
  color: #2F80EC; 
} */
/* .rupee{
  color: #27AE61;
} */

/* .App-logo{
  max-width: 30%;
  max-height: 20%;
} */

.imgWatch{
  padding: 8px;
  border-radius: 25px;
}
.card{
  background-color:#111c6e;
  border-radius: 10px;
}
.heading{
  color: #fff !important;
  text-align: left !important;
  padding-left: 1em !important;
  font-size: 2rem !important;
  line-height: 0 !important;
}
.left{
  padding: 1em;
}
.right{
  color: #36b9f1;
  font-weight: bold;
}
.heart{
  float: right;
}
.bidPrice {
  color : #36b9f1;
}
.row{
  padding-left: 2em;
  font-size: large;
  font-weight: bold;
}
.col{
  line-height: 0.9;
}

.w{
  color: azure;
}

