.nav-link {
    color: white !important;
 }
#Navbar {
     background-color:#050121
     !important; 
     color: white !important;
     font-family: "Metropolis";

}

.Searchbox
 {
     text-align: center;
     height: 2.2rem;
     background: #2D396B;
     outline: none;
     border: none;
     border-radius:14px;
     padding: 0 3.5rem 0 1.5rem;
     margin: 0 0.3rem;
     color: white !important;
     font-size: 1rem;
 }
.navbar-nav {
    align-items: center;
}
.connect { 
    background: #6D28D9;
    border-radius: 14px;
    color: #ffffff !important;  
}
.AddProduct {
    background: #140D4A;
    border-radius: 14px;
    color: #A469FF !important;
}