
.box {
  position: relative;
  margin: 0 0 0 0;
  height: 103%;
  width:101%;
  overflow: auto;
  border-radius:5px;
}
.box1{
    text-align:center;
    color:white;
}
/* .icon{
    text-align:center;
}
.btn {
  margin: 10px;
} */