.fileUpload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.fileUploadBtn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #140d4a;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #140d4a;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.fileUploadBtn:hover {
  background: #140d4a;
  color: #ac8989;
  transition: all 0.2s ease;
  cursor: pointer;
}

.fileUploadBtn:active {
  border: 0;
  transition: all 0.2s ease;
}

/* .fileUploadContent {
  display: none;
  text-align: center;
} */

.fileUploadInput {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.imageUploadWrap {
  margin-top: 20px;
  border: 2px dashed #ffffff;
  border-radius: 14px;
  position: relative;
}

.imageDropping,
.imageUploadWrap:hover {
  background-color: #140d4a;
  border: 2px dashed #ffffff;
}

.imageTitleWrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.dragText {
  text-align: center;
}

.dragText h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #ffffff;
  padding: 60px 0;
}

.fileUploadImage {
  max-height: 200px;
  max-width: 100%;
  margin: auto;
  padding: 20px;
}

.removeImage {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.removeImage:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.removeImage:active {
  border: 0;
  transition: all 0.2s ease;
}

.formContainer {
  background-color: #2d396b;
  padding: 1em;
  border-radius: 14px;
}

.ProductForm {
  background-color: #2d396b;
  color: #f3ebff;
  margin: 0 10px 1em 10px;
  letter-spacing: -0.02em;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 14px;
  padding-left: 1em;
  min-height: 3rem;
  height: auto;
}
#prodDesc {
    height: 7.4rem;
}
#tagsFilled {
  color: #ffffff;
  height: 0.5em;
}
#TextfieldTag { 
  color: #ffffff;
}
#datetimeLocal {
  background-color: #2d396b;
  padding: 1em;
  color: white !important;
}
#datetimeLocalLabel{
  color: #ffffff;
  padding: 0.5em;
}
.MuiToolbar-root {
  background-color: "#2D396B";
}

.upload{
  width: 100%;
  margin-top:9px !important;
  color: white !important;
  
}

 .DatePicker  { 

}
.container{
  width: 70%;
}
.cb{
  background-color:#140D4A !important;
  color: #A469FF !important;
}
.sb{
  background-color: #6D28D9 !important;
  color: #fff !important;
}

@media only screen and (max-width: 600px){
  .container{
    width:100% !important;
  }
}