.item-img{
    height: 100%;
    width: 20vmin;
    border-radius: 1.2em;
}
.item{
    background-color: white;
    width: 60%;
    border-radius: 1.2em;
    margin: 1em;
}
.Item-heading{
    color: #2F80EC;
}
.time{
    font-size: 1em;
}
.Item-price{
    color: #27AE61 ;
}
.App-logo{
    max-width: 30%;
  }