.Searchbar  {
    background-color: #2D396B ;
    border: none;
    width: 100%;
}
.b2{
    background-color:#2D396B ;
    border-radius: 14px;
  
    border-color: #2D396B;
  }
  .dropdownMenu{
    border-radius: 14px;
    
    padding:0%;
    background-color: #2D396B;
    margin-left: 1%;
    
  }

.Filter 
{
  background-color: #2D396B !important;
  color:white;
}
