
.str {
  color: green;
}

.img {
  background-color: #BAD1FD;
  margin: 0%;
  height: 100vh;
}

.btn {
  width: 23vw;
  margin-top: 2%;
}

.img-responsive {
  width: 60%;
  padding-top: 20%;
  padding-left: 10%;
  margin-right: 0%;
  margin-left: 15%;
}

.lgpgleft {
  margin-right: 0%;
  margin-top: 8%;
  padding-left: 15%;  
}

.form-row{
  padding-top: 3%;
}

.inpbox {
  width: 23vw;
}

.fp {
  margin-left: 11%;
}

@media only screen and (max-width: 700px){
  .img{
    display: none;
  }
  .btn,.inpbox{
    width: fit-content;
  }
  .fp {
    margin: 0%;
  }
}

